@media screen and (min-width: 325px) {

    body {
        width: 95%;
        margin: 0 auto 0 auto;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        background-color: var(--background-color);
        color: var(--color1);
        text-align: center;
        text-decoration: none;
        padding: 10px;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 1.5em;
        display: block;
    }

    .logo h2,
    .logo span {
        left: 10rem;
    }

    nav a:hover {
        background-color: var(--color2);
        color: var(--accent1);
    }

    #directory-home {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    #directory-home div {
        margin-left: 5px;
    }

    #bbuttons button {
        display: block;
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: var(--color1);
        background-color: var(--background-color);
        margin: 0.3rem auto 0 auto;
    }


    /* join.html large css */

    #join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #join-main h1 {
        grid-column: 1/3;
    }

    #interests {
        grid-template-columns: 1fr 1fr;
    }
}

;