:root {
    --background-color: #03120E;
    --color1: #A6B1E1;
    --color2: #14248A;
    --accent1: white;
    --font: "Roboto", sans-serif;
    --weight-header: 400;
    --weight-text: 100;
}

body {
    width: 320px;
    padding: .1rem;
}

header {
    background-color: var(--background-color);
}

.logo {
    display: block;
    background-color: var(--background-color);
    padding: .4rem;
}

.logo img {
    display: block;
    margin: .3rem;
    padding-top: 1rem;
}

.logo h2 {
    display: block;
    color: var(--color1);
    font-family: var(--font);
    font-weight: var(--weight-header);
    position: absolute;
    top: 1rem;
    left: 7rem;

}

.logo span {
    display: block;
    color: var(--color1);
    font-family: var(--font);
    font-weight: var(--weight-header);
    position: absolute;
    top: 5rem;
    left: 7rem;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--color1);
    position: absolute;
    right: 1rem;
    top: 1rem;

}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

nav {
    display: none;
}

nav.open {
    display: block;
}

nav a {
    background-color: var(--background-color);
    color: var(--color1);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a.active {
    background-color: var(--color1);
    color: var(--color2);
}

nav a:hover {
    background-color: var(--color2);
    color: var(--accent1);
}

.hero-image img {
    display: block;
    width: 90%;
    height: 450px;
    margin: .1rem 5% .5rem 5%;
}

.hero-image button {
    display: block;
    margin: .5rem auto .5rem auto;

}

main h2 {
    margin-left: .5rem;
    color: var(--background-color);
}

#directory-home {
    text-align: center;
}

#directory-home h3 {
    margin-top: 0;
    background-color: var(--background-color);
    color: var(--color1);
}

#events p {
    height: 200px;
}

#directory-home div {
    border: 3px solid var(--background-color);
    margin-bottom: .5rem;
}

#events li {
    list-style-type: none;
}

#bbuttons button {
    display: block;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--color1);
    background-color: var(--background-color);
    margin: 0.3rem auto 0 auto;
    padding: .5rem;
}

footer {
    padding: 2rem;
    padding-bottom: .7rem;
    margin-top: 2rem;
    background-color: var(--background-color);
    color: var(--color1);
}

#commerce p {
    margin-top: -1rem;
}

#project {
    margin-top: 2rem;
}

#project p {
    margin-top: -1rem;
}

#businessGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#businessGrid div {
    display: block;
    height: 250px;
    width: 300px;
    text-align: center;
    border: 1px solid var(--color2);
    margin: 1rem auto 0 auto;

}

#businessGrid h1 {
    margin-top: 0;
    background-color: var(--background-color);
    color: var(--color1);
}

#businessGrid img {
    display: block;
    margin: 0 auto 0 auto;
    height: 45px;
}

#businessGrid a {
    display: block;
    margin-bottom: .3rem;
}

#businessList {
    display: flex;
    flex-direction: column;
}

#businessList div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem auto 0 auto;
    padding: 0.25rem;
    text-align: center;
}

#businessList div:nth-child(even) {
    background-color: var(--background-color);
    color: var(--color1);
}

#cweather {
    font-family: var(--font);
    font-weight: var(--weight-header);
}

#fweather span {
    display: block;
    margin: .3rem auto 0 auto;
    font-family: var(--font);
    font-weight: var(--weight-header);

}

/* join page css */

#join-main h1 {
    text-align: center;
    font-family: var(--font);
    font-weight: var(--weight-header);
}

.joinForm fieldset {
    display: block;
    margin: 2rem auto 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--color1);
    width: 50%;
    max-width: 450px;
}

.joinForm label {
    display: block;
    padding-top: 0.5rem;

}

.joinForm div {
    display: block;
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

.joinForm #description {
    width: 90%;
    height: 300px;
    max-width: 400px;
}

.joinForm input[type="text"],
.joinForm input[type="email"],
.joinForm input[type="tel"] {
    background-color: #eee;
    display: block;
    padding-top: 4px;
    width: 90%;
    max-width: 400px;
}

.membership-levels div {
    display: block;
    text-align: center;
    width: 50%;
    max-width: 450px;
    margin: 2rem auto 0 auto;
    background-color: var(--background-color);
    padding: .5rem;
    animation: 3s slide-in;

}

.membership-levels h2 {
    color: var(--color1);
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}

#mydialog p {
    font-family: var(--font);
}

@keyframes slide-in {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

/* discover.html */

#interests {
    display: grid;
    grid-template-columns: 1fr;
}

#interests div,
#interests button {
    display: block;
    margin: .5rem auto 0 auto;
}

#interests div {
    border: 5px solid var(--background-color);
    background-color: var(--background-color);
}

#interests button {
    background: none;
    border: 0;
    color: var(--color1);
    cursor: pointer;
}

#interests img {
    height: 200px;
    width: 300px;
}

#mydialog button {
    border: 0;
    cursor: pointer;
    background-color: white;
}

#interests img:hover {
    box-shadow: 0 0 50px #333;
}